
@{
    ViewBag.Title = "Index";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>Razorpay payment</h2>

<form action="@Url.Action("PaymentStatus","Razorpay")" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_6oS5DiV9W7efUx" // Please enter your Key ID here
            data-amount="@ViewBag.Amount"
            data-currency="INR"
            data-order_id="@ViewBag.orderid"
            data-buttontext="Pay with Razorpay"
            data-name="@ViewBag.manufacturerName"
            data-description="Test transaction"
            data-image="@ViewBag.brandImg"
            data-prefill.name="@ViewBag.retailerName"
            data-prefill.email="@ViewBag.email"
            data-prefill.contact="@ViewBag.contact"
            data-theme.color="#F37254"></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>

<a href="http://localhost:4200/user-landing-page"><input type="button" value="Back" /></a>
